KNOWFORGE_APP_ENV=local
KNOWFORGE_SECRET_KEY=change-me-in-production

KNOWFORGE_MYSQL_HOST=192.168.11.23
KNOWFORGE_MYSQL_PORT=3306
KNOWFORGE_MYSQL_DATABASE=knowforge_rag
KNOWFORGE_MYSQL_USER=root
KNOWFORGE_MYSQL_PASSWORD=root123

KNOWFORGE_REDIS_HOST=192.168.11.23
KNOWFORGE_REDIS_PORT=6379
KNOWFORGE_REDIS_DB=0

KNOWFORGE_MILVUS_HOST=192.168.11.23
KNOWFORGE_MILVUS_PORT=19530
KNOWFORGE_MILVUS_DATABASE=knowforge_rag
